.authForm_container_div {
  margin: 10em auto;
  width: 50%;
  max-width: 1000px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  padding-bottom: 1em;
  .authForm_p_encoursDe {
    font-family: inherit;
    text-align: center;
    color: rgb(98, 84, 84);
    font-size: 1.5em;
    padding: 1em;
    margin: auto;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 15px;
  }
  .lds-circle {
    display: inline-block;
    transform: translateZ(1px);
    margin: auto;
    //@include border;
    text-align: center;
    width: 100%;
  }
  .lds-circle > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: #fff;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%,
    100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }

  & h2 {
    text-align: center;
    border-radius: 15px 15px 0 0;
    background-color: rgb(175, 172, 172);
  }
  .authForm_container_email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;

    font-size: 1.5em;
    & input {
      font: inherit;
      width: 70%;
      padding: 0.2em 1em;
      background-color: #906e6e;
      color: white;
      border-radius: 15px;
    }
  }
}
